# Twitter Sentiment Analysis

In [4]:
import tweepy
import pandas as pd
import textblob as tb

from textblob import TextBlob

## Import CSV

In [58]:
file_path = #see your path & the other ipynb-file in this repository for getting the data from Twitter API to CSV

df = pd.read_csv(file_path, sep=';')

df.head()

,id,time,tweet
0,1525264393637974016,2022-05-13 23:59:04+00:00,Elon Musk's acquisition of Twitter is on hold ...
1,1525263058070777856,2022-05-13 23:53:45+00:00,"""This is probably a negotiation tactic"" by Elo..."
2,1525263025627865088,2022-05-13 23:53:37+00:00,Contracts be contracts. Musk’s tweets don’t ch...
3,1525262835584061440,2022-05-13 23:52:52+00:00,Psaki is asked about Elon Musk saying that his...
4,1525262671913791490,2022-05-13 23:52:13+00:00,Elon said his corporate takeover of Twitter is...

## Sentiment Analysis

In [59]:
# Test for 1 tweet

test = TextBlob(df.iloc[1,2])
print(test)

"This is probably a negotiation tactic" by Elon Musk, Bernstein Senior Research Analyst Toni Sacconaghi told  on Friday. "The market has come down a lot. He's probably using the guise of true active users as a negotiation ploy."

In [60]:
# -1.0 = negative and 1,0 = positive
polarity = test.sentiment.polarity

# 0.0 = objectiv and 1.0 = subjectiv
subjectivity = test.sentiment.subjectivity

print("Text: ", test, "\n" +
     "Polarity: ", polarity, "\n" +
     "Subjectivity: ", subjectivity)

Text:  "This is probably a negotiation tactic" by Elon Musk, Bernstein Senior Research Analyst Toni Sacconaghi told  on Friday. "The market has come down a lot. He's probably using the guise of true active users as a negotiation ploy."
Polarity:  0.020370370370370355
Subjectivity:  0.512962962962963

In [61]:
# Results for all tweets within the dataframe

df["polarity"] = df["tweet"].map(lambda tweet: TextBlob(tweet).sentiment.polarity)

df["subjectivity"] = df["tweet"].map(lambda tweet: TextBlob(tweet).sentiment.subjectivity)

df.head()

,id,time,tweet,polarity,subjectivity
0,1525264393637974016,2022-05-13 23:59:04+00:00,Elon Musk's acquisition of Twitter is on hold ...,0.50000,0.500000
1,1525263058070777856,2022-05-13 23:53:45+00:00,"""This is probably a negotiation tactic"" by Elo...",0.02037,0.512963
2,1525263025627865088,2022-05-13 23:53:37+00:00,Contracts be contracts. Musk’s tweets don’t ch...,0.00000,0.000000
3,1525262835584061440,2022-05-13 23:52:52+00:00,Psaki is asked about Elon Musk saying that his...,0.07753,0.331399
4,1525262671913791490,2022-05-13 23:52:13+00:00,Elon said his corporate takeover of Twitter is...,0.23750,0.468750

## Get Results as CSV

In [62]:
df.to_csv('sentiment_twitter_verified_tweets.csv', index=False, sep=';')