# Twitter API V2 with Tweepy

In [59]:
import tweepy
import pandas as pd
import re

## Connect to API

In [55]:
# authorization

my_bearer_token = #Apply for Twitter API Access

api = tweepy.Client(bearer_token = my_bearer_token)

## Collect Tweets from API

In [56]:
# parameters for API request

search_term = "Pfizer"

query = f'{search_term} lang:en -is:retweet -is:reply'

# query = f'{search_term} lang:en -is:retweet -is:reply is:verified'

start_time = '2022-05-03T00:00:00Z'

end_time = '2022-05-05T00:00:00Z'

In [57]:
tweets = tweepy.Paginator(api.search_recent_tweets,
                          query=query,
                          tweet_fields=['created_at', 'text'],
                          start_time=start_time,
                          end_time=end_time,
                          max_results=100).flatten(limit=10000)

In [ ]:
# somehow breaks the code if run twice
for tweet in tweets:
    print(tweet.id, tweet.created_at, tweet.text)

## Insert Tweets into CSV

In [58]:
columns = ['id', 'time', 'tweet']

data = []

for tweet in tweets:
    data.append([tweet.id, tweet.created_at, tweet.text])
    
df = pd.DataFrame(data, columns=columns)

df.head()

,id,time,tweet
0,1522003018878648321,2022-05-04 23:59:31+00:00,"Gotta wonder if the #pfizer, #cdc, and #fda em..."
1,1522002972057690113,2022-05-04 23:59:20+00:00,The Pfizer adverse reaction report is a bombsh...
2,1522002872803770374,2022-05-04 23:58:56+00:00,Post all these Pfizer docs on Facebook and Tik...
3,1522002851228176385,2022-05-04 23:58:51+00:00,"I had reactions to my Pfizer jabs, chose not t..."
4,1522002827601747968,2022-05-04 23:58:46+00:00,Naomi Wolf: The Continued Uncovering of the Pf...

In [60]:
X_raw = df
X1 = X_raw.replace(re.compile(r'http\S+'), '')
X2 = X1.replace(re.compile(r'@\S+'), '')
X3 = X2.replace(re.compile(r'#'), '')
X4 = X3.replace(re.compile(r'\\n'), ' ')

In [62]:
# Store Tweets in CSV

X4.to_csv(f'{search_term}_tweets.csv', index=False, sep=';')